<!DOCTYPE html>
<html>
<head>
  <title>ExampleBizChallenge</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <navigation>
    <%= render 'layouts/navigation' %>
  </navigation>

  <%= yield %>

  <footer>
    <%= render 'layouts/footer' %>
  </footer>

</body>
</html>
